.btn {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  border: 0px;
  margin: 0px 4px;
}
.btn-remove {
  background: red;
}

.btn-location {
  background: blue;
}
